@use "@/app/styles/variables" as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;
  transition: all $transition-base;
  z-index: 999;
  &.show {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
  }
}

.menu {
  position: fixed;
  top: 48px;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #fff;
  transition: transform $transition-base;
  transform: translateX(0);
  z-index: $z-index-fixed;
  &.show {
    transform: translateX(300px);
  }

  .header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
  .body {
    padding: 1rem;
  }

  li li {
    padding-left: 15px;
  }

  .active > a {
    display: block;
    font-weight: bold;
  }
}
