.AboutPage {
  min-height: calc(100vh - 125px);
  margin-bottom: -48px;
  background: linear-gradient(
    to bottom,
    #000000,
    #2c2c34,
    #3a4a5a,
    #a8c0ff,
    #ffffff
  );
}
.widthHalf {
  width: calc(50% - 10px);
}
