@use "@/app/styles/variables" as *;
@use "@/app/styles/mixins" as *;

.MemberWrap {
  min-height: $content-height-full;
  text-align: center;
  background-color: $color-bg-card;
  h1 {
    margin: $spacing-10 0 $spacing-6;
  }
}

.SignUpInfo {
  .ico {
    margin: $spacing-10 0 $spacing-6;
    font-size: 8rem;
    color: $color-gray-300;
  }
}

.SignUpBtn {
  margin-top: $spacing-8;
}

.SignUpForm {
  @include max-fixed-container;
  margin-top: $spacing-16;
  padding: 0 130px;

  .ico {
    margin: -$spacing-3 0 $spacing-5;
    font-size: 7rem;
    color: $color-gray-300;
  }

  .passwordField {
    position: relative;
    .eyeIcon {
      position: absolute;
      top: 50%;
      right: $spacing-2;
      color: $color-gray-500;
      font-size: $font-size-sm;
      transform: translateY(-50%);
      transition: all $transition-fast;
      &:hover {
        color: $color-gray-700;
      }
    }
  }
}

.terms section {
  margin-top: $spacing-10;
  text-align: left;
}

.LoginCard {
  width: 420px;
  margin: $spacing-4 $inner-margin-x $spacing-16;
  .ico {
    margin-bottom: $spacing-5;
    font-size: 5rem;
    color: $color-gray-300;
  }
  .topMsg {
    margin-bottom: $spacing-5;
  }
}

.forgotInfo {
  width: 420px;
  margin-top: $spacing-8;
}
