@use "@/app/styles/variables" as *;

body {
  min-width: $min-width;
  font-family: $font-family-base;
  background: $color-bg-body;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  min-width: $inner-width;
  border-bottom: $color-border-default 1px solid;
  box-shadow: $shadow-white-lg;
  inset: 0;
  background: $color-white;
  // background: linear-gradient(135deg, #1e4db3 50%, #4ba3f7 90%, #3fcabc 100%);
  // animation: gradientMove 3s ease infinite;
  z-index: $z-index-fixed;
  .inner {
    max-width: $inner-width;
    margin: 0 $inner-margin-x;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: $spacing-2 $spacing-5;
    .logo {
      display: flex;
      align-items: center;
      gap: $spacing-2;
      font-size: $font-size-lg;
      letter-spacing: $font-spacing-2xl;
      color: $color-primary;
      font-weight: $font-weight-bold;
      /* 그림자는 너무 진하면 촌스러울 수 있으니 아주 투명하게 조절하세요 */
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      span {
        display: block;
        width: 30px;
        height: 28px;
        & > * {
          max-height: 100%;
        }
      }
    }
    .menuGroup {
      display: flex;
      align-items: center;
      gap: $spacing-1;
      font-size: $font-size-sm;
      & > * {
        display: inline-block;
        padding: $spacing-1 $spacing-2;
        color: $color-gray-700;
        opacity: 0.65;
        transition: all $transition-fast;
        svg {
          transition: all 0.3s ease-in-out;
          margin-right: $spacing-2;
        }
        &:hover {
          opacity: 1;
          transform: scale(1.05);
          svg {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

nav.sideMenu {
  position: fixed;
  top: 48px;
  right: 0;
  bottom: 0;
  min-width: 300px;
  border-left: $color-border-default 1px solid;
  background: #fff;
  box-shadow: $shadow-sm;
  & > ul li li {
    padding-left: 10px;
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - $footer);
  padding-top: 48px;
}

footer {
  height: 30px;
  font-size: $font-size-xs;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-top: rgba(0, 0, 0, 0.15) 1px solid;
  background: #fff;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
