@use "@/app/styles/variables" as *;

@mixin min-container {
  min-width: $min-width;
  margin: 0 $inner-margin-x;
}

@mixin inner-container {
  max-width: $inner-width;
  width: 100%;
  margin: 0 $inner-margin-x;
}

@mixin max-container {
  min-width: $min-width;
  max-width: $inner-width;
  margin: 0 $inner-margin-x;
}

@mixin max-fixed-container {
  max-width: $min-width;
  width: 100%;
  margin: 0 $inner-margin-x;
}

@mixin contentsPage-container {
  max-width: $inner-width;
  width: 100%;
  margin: 0 $inner-margin-x;
  padding: 30px;
}

@mixin member-container {
  max-width: 420px;
  width: 100%;
  margin: 0 $inner-margin-x;
}
