@use "@/app/styles/variables" as *;

/* Base Button */
.button {
  padding: $spacing-2 $spacing-4;
  font-size: $font-size-sm;
  line-height: $line-height-relaxed;
  border: none;
  border-radius: $radius-sm;
  transition: all $transition-base;
  cursor: pointer;
  svg {
    &.left {
      margin-right: 6px;
    }
    &.right {
      margin-left: 6px;
    }
  }
}

.default {
  border: 1px solid $color-border-default;
  background: $color-white;
  color: $color-gray-700;
}

.primary {
  color: rgba($color-white, 0.87);
  background: $color-primary;
  &:hover {
    color: $color-white;
    background: $color-primary-hover;
  }
  &:active {
    background: $color-primary-active;
  }
}

.secondary {
  background-color: $color-gray-100;
  color: $color-gray-700;
  border: 1px solid $color-gray-300;
  &:hover {
    background-color: $color-gray-300;
  }
}

.error {
  color: $color-white;
  background: $color-error;
  font-weight: $font-weight-medium;
  &:hover {
    background: darken($color-error, 5%);
  }
  &:active {
    background: darken($color-error, 10%);
  }
}

button:disabled {
  color: $color-gray-500;
  background: $color-gray-300;
  opacity: 0.7;
  cursor: not-allowed;
}

.sm {
  padding: $spacing-1 $spacing-3;
  font-size: $font-size-sm;
}

.lg {
  padding: $spacing-4 $spacing-8;
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
}

.fullWidth {
  width: 100%;
}

.icon {
  border: 0 none;
  background: transparent;
  color: $color-gray-700;
}

.animate {
  color: $color-white;
  font-weight: $font-weight-medium;
  text-shadow: $shadow-sm;
  border-top: transparent 2px solid;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.6) 30%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0.6) 70%,
    rgba(0, 0, 0, 0.3) 100%
  );
  background-size: 200% 200%;
  animation: gradientMove 3s linear infinite;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
