@use "@/app/styles/variables" as *;

.checkboxWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;

  .checkbox {
    margin-right: 6px;
  }

  .label {
    user-select: none;
    color: $color-gray-500;
    transition: all $transition-fast;
  }
  &:hover .label {
    color: $color-gray-900;
  }

  [type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: $color-primary-active;
  }
}
