/* Icon.module.scss */
.iconBase {
  align-items: center;
  justify-content: center;
  line-height: 0;
  vertical-align: middle;
  svg {
    display: block;
  }

  &.leftBtn {
    margin-right: 2px;
  }
  &.rightBtn {
    margin-left: 2px;
  }
}
