@use "@/app/styles/variables" as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $z-index-modal;
}

.modal {
  min-width: 420px;
  max-width: $inner-width;
  padding: $spacing-5 0 0;
  border-radius: $radius-md;
  background: $color-bg-card;
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0 $spacing-5 $spacing-3;
    border-bottom: $color-border-default 1px solid;
    .headerContent h4 {
      font-size: $font-size-lg;
      color: $color-gray-700;
      font-weight: $font-weight-semibold;
    }
    & > span {
      margin: -$spacing-3;
      svg {
        margin-top: -$spacing-2;
        padding: $spacing-3;
        font-size: $font-size-lg;
        color: $color-gray-900;
        cursor: pointer;
      }
    }
  }
  .body {
    overflow: auto;
    max-height: calc(100vh - 500px);
    padding: $spacing-8 $spacing-5 $spacing-8;
  }

  .body::-webkit-scrollbar {
    width: 6px;
  }
  .body::-webkit-scrollbar-thumb {
    background-color: $color-gray-500;
    border-radius: $radius-lg;
    border: $color-gray-300 1px solid;
  }
  .body::-webkit-scrollbar-track {
    background: $color-gray-100;
    border-radius: $radius-lg;
  }

  .footer {
    display: flex;
    justify-content: center;
    gap: $spacing-3;
    padding: $spacing-5 0;
    border-top: $color-border-default 1px solid;
  }
}
