@use "@/app/styles/variables" as *;
@use "@/app/styles/mixins" as *;

.tabWrap {
  width: 100%;
  .tabList {
    margin-bottom: $spacing-10;
    border-bottom: 1px solid $color-border-default;
    background: $color-white;
    & > div {
      position: relative;
      display: flex;
      gap: $spacing-2;
      @include max-container;
    }
    .tab {
      position: relative;
      background: none;
      border: none;
      padding: $spacing-4 $spacing-5;
      font-size: $font-size-lg;
      font-weight: $font-weight-medium;
      color: $color-gray-300;
      cursor: pointer;
      transition: color $transition-base;
      &:hover {
        color: $color-primary-hover;
      }
      &.active {
        color: $color-primary;
        font-weight: $font-weight-semibold;
      }
    }
    .indicator {
      position: absolute;
      bottom: -1px;
      height: 2px;
      background-color: $color-primary;
      transition: all $transition-base;
    }
    & + div {
      @include max-container;
    }
  }

  &.isStepMode {
    .tab {
      cursor: default;
      &:hover {
        color: $color-gray-300;
      }
      &.active {
        color: $color-primary;
      }
    }
  }

  &.alignC .tabList > div {
    justify-content: center;
    gap: $spacing-8;
    .tab {
      padding: $spacing-4 $spacing-16;
      font-size: $font-size-lg;
      font-weight: $font-weight-semibold;
    }
  }
}
