@use "@/app/styles/variables" as *;

.text {
  font-family: $font-family-base;
  line-height: $line-height-base;
  margin: 0;
}

/* ----------------------------------------
   Size
   ---------------------------------------- */
.sm {
  font-size: $font-size-sm;
  letter-spacing: $font-spacing-sm;
}

.md {
  font-size: $font-size-md;
  letter-spacing: $font-spacing-md;
}

.lg {
  font-size: $font-size-lg;
  letter-spacing: $font-spacing-lg;
}

/* ----------------------------------------
   Weight
   ---------------------------------------- */
.normal {
  font-weight: $font-weight-regular;
}

.bold {
  font-weight: $font-weight-bold;
}

.light {
  font-weight: $font-weight-thin;
}

/* ----------------------------------------
   Color
   ---------------------------------------- */
.default {
  color: $color-black;
}

.primary {
  color: $color-primary;
}

.secondary {
  color: $color-gray-700;
}

.info {
  color: $color-gray-500;
}

.danger {
  color: $color-error;
}
