@use "@/app/styles/variables" as *;

.title {
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  color: $color-black;
  transition: color $transition-base;
}
* + .title {
  margin-top: $spacing-8;
}

/* ----------------------------------------
   Type Variants
   ---------------------------------------- */
.default {
  color: $color-gray-900;
}

.primary {
  color: $color-primary;
}

.secondary {
  color: $color-gray-500;
}

.highlight {
  color: $color-success;
}

/* ----------------------------------------
   Heading Levels
   ---------------------------------------- */
h1.title {
  font-size: $font-size-4xl;
  line-height: $line-height-tight;
  letter-spacing: $font-spacing-sm;
}

h2.title {
  font-size: $font-size-3xl;
  line-height: $line-height-tight;
  letter-spacing: $font-spacing-md;
}

h3.title {
  font-size: $font-size-2xl;
  line-height: $line-height-base;
  letter-spacing: $font-spacing-md;
}

h4.title {
  font-size: $font-size-xl;
  line-height: $line-height-base;
  letter-spacing: $font-spacing-lg;
}

h5.title {
  font-size: $font-size-lg;
  line-height: $line-height-relaxed;
  letter-spacing: $font-spacing-lg;
}

h6.title {
  font-size: $font-size-md;
  line-height: $line-height-relaxed;
  letter-spacing: $font-spacing-xl;
}
