@use "@/app/styles/variables" as *;

.title {
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  color: $color-gray-900;
  transition: color $transition-base;
}

/* ----------------------------------------
   Type Variants
   ---------------------------------------- */
.primary {
  color: $color-primary;
}
.secondary {
  color: $color-gray-500;
}
.highlight {
  color: $color-success;
}

/* ----------------------------------------
   Heading Levels
   ---------------------------------------- */
h1.title {
  font-size: $font-size-2xl;
  line-height: $line-height-tight;
  letter-spacing: $font-spacing-sm;
}
h2.title {
  font-size: $font-size-xl;
  line-height: $line-height-tight;
  letter-spacing: $font-spacing-md;
}
h3.title {
  font-size: $font-size-lg;
  line-height: $line-height-base;
  letter-spacing: $font-spacing-md;
}
h4.title {
  font-size: $font-size-md;
  line-height: $line-height-base;
  letter-spacing: $font-spacing-lg;
}
