@use "@/app/styles/variables" as *;

.toastContainer {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
  z-index: $z-index-toast;
}
