@use "@/app/styles/variables" as *;

.toast {
  padding: $spacing-1 $spacing-2;
  font-size: $font-size-sm;
  border-radius: $radius-md;
  color: $color-white;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity $transition-base,
    transform $transition-base;

  &.success {
    background: $color-success;
  }
  &.error {
    background: $color-error;
  }
  &.info {
    background: $color-info;
  }

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
  &.hide {
    opacity: 0;
    transform: translateY(20px);
  }
}
