@use "@/app/styles/variables" as *;

.tooltipWrap {
  position: relative;
  display: inline-block;

  .tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: $color-black;
    color: $color-white;
    padding: $spacing-1 $spacing-2;
    border-radius: $radius-md;
    white-space: nowrap;
    box-shadow: $shadow-sm;
    font-size: $font-size-xs;
    line-height: $line-height-base;
    transition: visibility $transition-base;
  }

  &:hover .tooltip {
    visibility: visible;
  }
}
